/*Borders that need to fade in*/

ink[data-border data-type="ease-in"] {
	border-bottom: solid;
	border-color: black;
	height: 10px;
	border-spacing: 1px;
	line-height: 200%;
}

ink[databorder data-type="ease-in"]:hover {
	/*Gone!*/
	border: none;
}

ink[data-border data-type="ease-in"]:active {
	/*Gone!*/
	border: none;
}

[data-border data-type="ease-in"] {
	border-bottom: solid;
	border-color: black;
	height: 10px;
	border-spacing: 1px;
	line-height: 200%;
}

[data-border data-type="ease-in"]:hover {
	/*Gone! Yay!!!!!*/
	border: none;
}

[data-border data-type="ease-in"]:active {
	/*Gone!*/
	border: none;
}
