@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0 0 50px 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered {
    width: 500px;
}

.content {
  font-size: 18px;
  margin-bottom: 75px
}

.note {
  font-size: 14px;
  color: gray;
}

/* Spoiler Tag Selectors aka the important bit */

#spoilies {
  background-color: black;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.5s ease-in;
}

#spoilies:hover {
  cursor: pointer;
}